@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    background-color: rgb(113, 109, 109);
    
    
}

#tasklist::-webkit-scrollbar{
      
     display: none;
}

#alltask::-webkit-scrollbar{
      
     display: none;
}

#one{

     color: aliceblue;
}

.two{

     color: aliceblue;
     font-size: medium;
}